@charset "UTF-8";
.top_area{padding: 0 20px; line-height: 50px; border-bottom: 1px solid #ed1745; position: relative;}
.top_area .row{margin: 0;}
.top_area .row .top_logo_area{width: 20%; float: left;}
.top_area .row .top_logo_area .top_logo_detail{text-decoration: none;}
.top_area .row .top_logo_area .logo_detail{width: 30px; height: 30px;}
.top_area .row .top_logo_area .logo_text{font-size: 18px; font-weight: bold; color: #ed1745;}
.top_area .row .top_menu_area{width: 80%; float: right;}
.top_area .row .top_menu_area .menu_list{float: right; padding: 0 10px; color: #eb98aa; text-decoration: none; cursor: pointer;}
.top_area .row .top_menu_area .menu_list .fa-bell{color: #eb98aa;}
.top_area .row .top_menu_area .menu_list:hover{color:#ed1745;}
.top_area .row .top_menu_area .menu_list .fa-bell:hover{color:#ed1745;}


.main_content{margin: 5%;}
.main_content .row{margin: 0;}
.main_content .row .main_text_area{float: left; width: 35%; margin: 5% 2%;}
.main_content .row .main_text_area .main_text1{font-size: 50px;}
.main_content .row .main_text_area .main_line{border: 1px solid black; width: 100px; margin: 50% 0 10%;}
.main_content .row .main_text_area .main_text2{font-size: 24px;}

.main_content .row .main_img_area{float: left; width: 60%;}
.main_content .row .main_img_area .carousel.slide{text-align: center;}
.main_content .row .main_img_area .carousel.slide .item{ }
.main_content .row .main_img_area .carousel.slide .item .img_detail{width: 950px;  height: 750px; margin: 0 auto;}




/* 모달 */
.modal.fade{}
.modal.fade .modal-dialog{}
.modal.fade .modal-dialog .modal-content{padding: 15px;}
.modal.fade .modal-dialog .modal-content.login.none{display: none;}
.modal.fade .modal-dialog .modal-content .modal-header{border: 0;}
.modal.fade .modal-dialog .modal-content .modal-header .modal-title{text-align: center; font-size: 25px;  font-weight: bold;}

.modal.fade .modal-dialog .modal-content .modal-body{}
.modal.fade .modal-dialog .modal-content .modal-body .login_info{margin-bottom: 15px; text-align: center;}
.modal.fade .modal-dialog .modal-content .modal-body .login_info .regist_icon{color: red;}
.modal.fade .modal-dialog .modal-content .modal-body .login_info .input_detail{width: 90%; height: 50px; border-radius: 20px; padding: 12px; outline: none; border: 1px solid lightgray;}

.modal.fade .modal-dialog .modal-content .modal-body .login_info .input_detail:focus {border: 1px solid #ed1745; outline: none;}


.modal.fade .modal-dialog .modal-content .login_btn_area{text-align: center;}
.modal.fade .modal-dialog .modal-content .login_btn_area .login_btn{width: 85%; display: block; line-height: 50px;  margin: 0 auto;  height: 50px;  background-color: #ffccd7;  border: 1px solid #ffccd7; border-radius: 20px; outline: none; color: white;}

.modal.fade .modal-dialog .modal-content .modal_text_area{margin: 15px 0; text-align: center}
.modal.fade .modal-dialog .modal-content .modal_text_area .modal_text{ color: #8592D6;  padding: 5px 0;}
.modal.fade .modal-dialog .modal-content .modal_text_area .modal_text .modal_text_detail{text-decoration: none; color: #8592D6;}

.modal.fade .modal-dialog .modal-content .modal_explanation{text-align: center; width: 80%;margin: 0 auto;}
.modal.fade .modal-dialog .modal-content .modal_explanation .modal_text1{}
.modal.fade .modal-dialog .modal-content .modal_explanation .modal_text1 .text_detail{color:red;}


    
.modal.fade .modal-dialog .modal-content .modal_btn_area{text-align: center;}
.modal.fade .modal-dialog .modal-content .modal_btn_area .modal_btn{width: 85%;  height: 50px;  background-color: #ffccd7;  border: 1px solid #ffccd7; border-radius: 20px; outline: none; color: white;}


/* 알람 */
.alarmArea{border-bottom:1px solid #ed1745; border-left:1px solid #ed1745; width: 20%;  position: absolute; right: 0; z-index: 999; background-color: white;   z-index: 999;   padding: 15px; height: 500px; overflow-x: hidden; overflow-y: auto;}
.alarmArea.on{display:none;}
#generalAlarmBtn{width: 50%;}
#githubAlarmBtn{width: 50%;}
.gitPagingBtn{background-color: white; border: 0; }
.alBtn{background-color: white; border: 1px solid black; margin-left: 50px; font-size: 20px;}
.alBtnArea{;}
.main{ font-style: italic; font-size: 20px;}
.bt:hover {background-color: #ed1745;}

