@charset "UTF-8";
.modal.fade{}
.modal.fade .modal-dialog{}
.modal.fade .modal-dialog .modal-content{padding: 20px}
.modal.fade .modal-dialog .modal-content .modal-header{}
.modal.fade .modal-dialog .modal-content .modal-header .input_detail{width: 100%; height: 40px; padding: 0 10px;}
.modal.fade .modal-dialog .modal-content .modal-body{}
.modal.fade .modal-dialog .modal-content .modal-body .row{margin: 0; border: 1px solid black;}
.modal.fade .modal-dialog .modal-content .modal-body .row .fa-search{position: absolute; z-index: 2; font-size: 20px; top: 25px; left: 25px;}
.modal.fade .modal-dialog .modal-content .modal-body .row .input_detail1{width: 60%; height: 40px; padding: 0 10px 0 35px; position: relative; border: 0;}
.modal.fade .modal-dialog .modal-content .modal-body .row .input_detail2{border: 1px solid;  width: 70px;  height: 30px;  margin: 5px 6px;  background-color: white;} 
.modal.fade .modal-dialog .modal-content .modal-body .row .select_detail{width: 20%; border: 0;}
.modal.fade .modal-dialog .modal-content .modal-body .select_member{height: 200px; border: 1px solid black;  margin-top: 30px;}

.modal.fade .modal-dialog .modal-content .modal_btn_area{}
.modal.fade .modal-dialog .modal-content .modal_btn_area .btn_detail{background-color: white; box-shadow: 1px 2px 3px 1px grey;}
.modal.fade .modal-dialog .modal-content .modal_btn_area .btn_detail.type{margin: 0 10px;}


.modal.fade .modal-dialog .modal-content .modal-body .row .input_detail1.type{width: 80%; height: 40px; padding: 0 10px 0 35px; position: relative; border: 0;}


