@charset "UTF-8";
.mypage_area{}
.mypage_area .mypage_header{padding: 20px 35px;  font-size: 20px;  font-weight: bold; border-bottom: 1px solid lightgray;}
.mypage_area .row{margin: 0;}
.mypage_area .row .mypage_left_area{width: 15%; border-right: 1px solid lightgray; height: 920px; }
.mypage_area .row .mypage_left_area .mypage_btn_area{text-align: right; margin-top: 50px;}
.mypage_area .row .mypage_left_area .mypage_btn_area .btn_item{padding: 20px;}
.mypage_area .row .mypage_left_area .mypage_btn_area .btn_item .btn_detail{text-decoration: none; color: black; font-size: 18px; font-weight: bold;}




.btnasdfawef{background:#EFECCA; border:1px solid #EFECCA; box-shadow:4px 4px 5px #A7A37E inset; border-radius:5px; color:#a7a37e;}


.mypage_area .row .mypage_right_area{width: 85%; padding: 35px;}
.mypage_area .row .mypage_right_area .mypage_right_header{font-size: 20px;  font-weight: bold;}
.mypage_area .row .mypage_right_area .mypage_info_area{padding: 100px 150px;}
.mypage_area .row .mypage_right_area .mypage_info_area .mypage_info_box{ width: 50%; margin: 0 auto;}
.mypage_area .row .mypage_right_area .mypage_info_area .mypage_info_box .info_item{margin-bottom: 25px;}
.mypage_area .row .mypage_right_area .mypage_info_area .mypage_info_box .info_item .info_name{font-size: 17px; font-weight: bold; margin-bottom: 10px;}
.mypage_area .row .mypage_right_area .mypage_info_area .mypage_info_box .info_item .input_detail{width: 100%; height: 40px; border: 1px solid lightgray; border-radius: 8px; padding: 0 12px;}
.mypage_area .row .mypage_right_area .mypage_info_area .mypage_right_btn{margin-top: 100px; width: 50%;  text-align: right; margin-left: auto;
    margin-right: auto;}
.mypage_area .row .mypage_right_area .mypage_info_area .mypage_right_btn .mypage_btn_detail{background-color: white; width: 100px; height: 35px;}
.mypage_area .row .mypage_right_area .member_quit{width: 50%; margin: 0 auto;}
.mypage_area .row .mypage_right_area .member_quit .member_text{}



*{margin:0;padding:0;}
body{background:#002F2F;}

.mypage_info_box{background-color: whitesmoke; height:400px;color:#002F2F;position:relative; padding: 30px;}
.mypage_info_box:before,.mypage_info_box:after{ z-index: -1; position: absolute; content: ""; bottom: 15px; left: 5px; width: 300px; top: 80%; background: #000; box-shadow: 0 20px 15px #000; transform: rotate(-5deg);/*이걸로 그림자를 기울이는 효과!*/}
.mypage_info_box:after{transform: rotate(5deg);/*이걸로 그림자를 기울이는 효과!*/ right: 5px; left: auto;}






