<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.shortcut.meeting.model.dao.MeetingMapper">
	
	<resultMap type="MeetingDTO" id="MeetingResultSet">
		<id column="MEET_NO" property="meetingNO"/>
		<result column="MEET_NAME" property="meetingName"/>
		<result column="MEET_TXT" property="meetingText"/>
		<result column="MEET_ENROLL_DATE" property="enrollDate"/>
		<result column="MEET_DEL_YN" property="status"/>
		<result column="SPR_NO" property="sprintNo"/>
	</resultMap>
	
	<resultMap type="MemberDTO" id="MemberResultSet">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
		<result column="PJT_NO" property="projectNo"/>
	</resultMap>
	
	 <resultMap id="AuthorityResultSet" type="ProjectAuthorityDTO">
		<id column="PA_NO" property="projectRoleNo"/>	<!-- 권한고유번호 -->
		<result column="PA_ROLE" property="projectRole"/><!-- 	회원권한 -->
		<result column="PJT_NO" property="projectNo"/>		<!-- 프로젝트번호  -->
		<result column="MEM_NO" property="memberNo"/>	
	</resultMap> 
	
	<resultMap type="AttendListDTO" id="AttendListResultSet">
		<id column="MEET_NO" property="meetingNo"/>
		<result column="MEM_NO" property="memberNo"/>
	</resultMap>
	
	<insert id="insertMeeting" parameterType="MeetingDTO">
		INSERT
		  INTO MEETING A
		(
		  A.MEET_NO, A.MEET_NAME, A.MEET_TXT
		, A.MEET_ENROLL_DATE, SPR_NO
		)  
		VALUES
		(
		  SEQ_MEET_NO.NEXTVAL, #{meetingName}, #{meetingText}
		, #{enrollDate}, 1
		)
	</insert>
	
	<select id="selectProjectMember" resultMap="MemberResultSet" parameterType="MemberDTO">
		SELECT
		       A.MEM_NAME
		     , A.MEM_NO 
		  FROM MEMBER A 
		  JOIN PJT_AUTHORITY B ON (B.MEM_NO = A.MEM_NO)
		 WHERE B.PJT_NO = 4
	</select>
	
	<insert id="insertProjectMember" parameterType="AttendListDTO">
		<selectKey keyProperty="meetingNo" order="BEFORE" resultType="_int">
	         SELECT
	                SEQ_MEET_NO.CURRVAL
	           FROM DUAL
	     </selectKey>
	     
	     INSERT
		        INTO MEETING_ATTEND_LIST A
		        (
		          A.MEET_NO, A.MEM_NO
		        )
		        VALUES
		        (
		         #{meetingNo}, #{memberNo}
		        )
	   
		      
	        
	</insert>
	
	
	
	
</mapper>
