<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greedy.shortcut.alarm.model.dao.AlarmMapper">

	<select id="selectGitUrl" resultType="String" parameterType="_int">
		SELECT
		       GIT_URL
		  FROM MEMBER
		 WHERE MEM_NO = #{memNo}
	</select>
	
	<update id="registGitUrl" parameterType="hashmap">
		UPDATE
		       MEMBER
		   SET GIT_URL = #{githubInfo}
		 WHERE MEM_NO = #{memNo}
	</update>

</mapper>
