<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.shortcut.messenger.model.dao.MsgMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
	</resultMap>

	<resultMap id="ProjectResultSet" type="ProjectDTO">
		<id column="PJT_NO" property="pjtNo" />
		<result column="PJT_NAME" property="projectName" />
		<result column="PJT_START_DATE" property="projectStartDate" />
		<result column="PJT_DEL_YN" property="projectDelYN" />
		<result column="MEM_NO" property="memberNo" />
		<result column="PJT_END_DATE" property="projectEndDate" />
		<result column="PJT_COLOR" property="projectColor" />
	</resultMap>
	
	<resultMap id="msgResultSet" type="MessengerDTO">
		<id column="MSG_NO" property="no"/>
		<result column="MSG_TYPE" property="type"/>
		<result column="MSG_TXT" property="txt"/>
		<result column="PJT_NO" property="pjtNo"/>
		<result column="MSG_TO" property="msgTo"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="MSG_FROM" property="msgFrom"/>
		<result column="MSG_DEL_YN" property="del"/>
		<result column="PJT_NAME" property="pjtName"/>
		<result column="MSG_ENROLL_DATE" property="date"/>
	</resultMap>
	
	<resultMap id="pmResultSet" type="PmDTO">
		<id column="PJT_NO" property="pjtNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="PJT_NAME" property="pjtName"/>
		<result column="MEM_NAME" property="memName"/>
	</resultMap>

	<!-- <select id="selectPjt" resultMap="memberResultSet" parameterType="MemberDTO">
	 SELECT 
	        A.MEM_NO
          , A.MEM_NAME
          , B.PJT_NAME
       FROM MEMBER A
       JOIN PROJECT B ON (A.MEM_NO = B.MEM_NO)
	</select>  -->
	
	<select id="selectPm" resultMap="pmResultSet" parameterType="PmDTO">     
        SELECT 
               DISTINCT
	           A.MEM_NO
             , A.MEM_NAME
             , B.PJT_NAME
             , C.MEM_NO
          FROM MEMBER A
          JOIN PROJECT B ON (A.MEM_NO = B.MEM_NO)
          JOIN PJT_AUTHORITY C ON (A.MEM_NO = C.MEM_NO)
	</select>
	
	<!-- 보낸 쪽지함 -->
	<select id="selectReceive" resultMap="msgResultSet" parameterType="MessengerDTO">
       SELECT
              A.MSG_NO
            , B.PJT_NAME
            , A.MSG_TYPE
            , A.MSG_TXT
            , A.MSG_TO
            , A.MSG_ENROLL_DATE
            , C.MEM_NAME
         FROM MESSAGE A
         JOIN PROJECT B ON (A.PJT_NO = B.PJT_NO)
         JOIN MEMBER C ON (A.MSG_FROM = C.MEM_NO)
         ORDER BY A.MSG_NO DESC
	</select>
	
	<!-- 보낸 쪽지함 -->
	<select id="selectSend" resultMap="msgResultSet" parameterType="MessengerDTO">
       SELECT
              A.MSG_NO
            , B.PJT_NAME
            , A.MSG_TYPE
            , A.MSG_TXT
            , A.MSG_FROM
            , A.MSG_ENROLL_DATE
            , C.MEM_NAME
         FROM MESSAGE A
         JOIN PROJECT B ON (A.PJT_NO = B.PJT_NO)
         JOIN MEMBER C ON (A.MSG_FROM = C.MEM_NO)
         ORDER BY A.MSG_NO DESC
	</select>
	
        
</mapper>