<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greedy.shortcut.board.model.dao.BacklogMapper">

	<resultMap type="BacklogDTO" id="backlogResultMap">
		<id property="blgNo" column="BLG_NO"/>
		<result property="blgName" column="BLG_NAME"/>
		<result property="blgPri" column="BLG_PRI"/>
		<result property="blgEnrollDate" column="BLG_ENROLL_DATE"/>
		<result property="sprEndDate" column="SPR_END_DATE"/>
		<result property="pjtNo" column="PJT_NO"/>
		<result property="blgDelYn" column="BLG_DEL_YN"/>
		<result property="blgDemoMemo" column="BLG_DEMO_MEMO"/>
		<result property="blgRefMemo" column="BLG_REF_MEMO"/>
	</resultMap>
	
	<resultMap id="ProjectResultSet" type="ProjectDTO">
		<id column="PJT_NO" property="pjtNo"/>
		<result column="PJT_NAME" property="projectName"/>
		<result column="PJT_START_DATE" property="projectStartDate"/>
		<result column="PJT_DEL_YN" property="projectDelYN"/>
		<result column="MEM_NO" property="memberNo"/>
		<result column="PJT_END_DATE" property="projectEndDate"/>
		<result column="PJT_COLOR" property="projectColor"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
	</resultMap>
	
	<resultMap id="AuthorityResultSet" type="ProjectAuthorityDTO">
		<id column="PA_NO" property="projectRoleNo"/>	<!-- 권한고유번호 -->
		<result column="PA_ROLE" property="projectRole"/><!-- 	회원권한 -->
		<result column="PJT_NO" property="pjtNo"/>		<!-- 프로젝트번호  -->
		<result column="MEM_NO" property="memberNo"/>	
		<result column="MEM_ID" property="memberId"/>
	</resultMap> 
	
	<resultMap type="SprintDTO" id="SprintResultMap">
		<id property="sprNo" column="SPR_NO"/>
		<result property="sprName" column="SPR_NAME"/>
		<result property="sprStardDate" column="SPR_START_DATE"/>
		<result property="sprEndDate" column="SPR_END_DATE"/>
		<result property="sprGoal" column="SPR_GOAL"/>
		<result property="sprDelYn" column="SPR_DEL_YN"/>
		<result property="sprBlgNo" column="BLG_NO"/>
	</resultMap>

	<select id="selectProject" resultMap="ProjectResultSet" parameterType="ProjectDTO">
		SELECT
		       A.PJT_NO
		     , A.PJT_NAME
		     , A.PJT_START_DATE
		     , A.PJT_DEL_YN
		     , A.PJT_END_DATE
		     , A.PJT_COLOR
		  FROM PROJECT A
		 WHERE A.PJT_NO = #{pjtNo}
	</select> 
	
	<!-- 멤버리스트 조회 -->
	<select id="selectMemberList" resultMap="AuthorityResultSet" parameterType="ProjectAuthorityDTO">
		SELECT
		       A.PA_ROLE
		     , A.PJT_NO
		     , A.MEM_NO
		     , A.PA_NO
             , B.MEM_ID
		  FROM PJT_AUTHORITY A
          JOIN MEMBER B ON (A.MEM_NO = B.MEM_NO)
		 WHERE A.PJT_NO = #{pjtNo}
	</select> 

	<!-- 회원 수정용 멤버 중복 조회 -->
	<select id="selectMemberDupCheck" resultMap="memberResultSet" parameterType="MemberDTO">
	 SELECT 
            A.MEM_NO
       FROM MEMBER A 
      WHERE A.MEM_ID = #{email} 
	</select>
	
		<!-- 프로젝트 수정-->
	 <update id="updateProject" parameterType="ProjectDTO">
	     UPDATE PROJECT 
            SET PJT_NAME = #{projectName}
              , PJT_START_DATE = #{projectStartDate}
              , PJT_END_DATE = #{projectEndDate}
              , PJT_COLOR = #{projectColor}
         WHERE PJT_NO =  #{pjtNo}
	</update>
	
	<!-- 프로젝트 수정 이력 등록 -->
	<insert id="insertEditProjectHistory" parameterType="ProjectDTO">
	    INSERT
	      INTO PROJECT_HISTORY A
	      (
	        A.PJT_NO, A.PJT_NAME, A.PJT_START_DATE, A.PJT_END_DATE
	      , A.UPDATE_DATE, A.PJT_DEL_YN, A.PJT_HIS_NO, A.PJT_COLOR
	      )
	      VALUES
	      (
	      #{pjtNo}, #{projectName}, #{projectStartDate},#{projectEndDate}
	      , SYSDATE, 'N', SEQ_PJT_HIS_NO.NEXTVAL, #{projectColor}
	      )
	</insert>
	
	
	<!-- 프로젝트 넘버 조회 -->
	 <select id="selectProjectNum" resultMap="ProjectResultSet" parameterType="ProjectDTO">
		 SELECT 
	            SEQ_PJT_NO.CURRVAL
	       FROM DUAL
	</select> 
	
	<delete id="deleteProjectMember" parameterType="ProjectDTO">
		DELETE
	      FROM PJT_AUTHORITY E
	     WHERE E.PJT_NO = #{pjtNo}
	</delete>
	<!-- 프로젝트 멤버 수정 -->
	<insert id="insertEditProjectMember" parameterType="ProjectAuthorityDTO">
	 INSERT
	   INTO PJT_AUTHORITY A
	   (
	    PA_ROLE, PJT_NO, MEM_NO, PA_NO
	   )
	   VALUES
	   (
	    #{projectRole}, #{pjtNo}, #{memberNo}, SEQ_PA_NO.NEXTVAL
	   )
	</insert>
	
	<!-- 프로젝트 수정 회원 이력 등록 -->
	<insert id="insertEditProjectMemberHistory" parameterType="ProjectAuthorityDTO">
	<selectKey keyProperty="memberNo" order="BEFORE" resultType="_int">
		 SELECT 
	            SEQ_PA_NO.CURRVAL
	       FROM DUAL
    </selectKey>
		INSERT
	      INTO TM_HISTORY
			 (
			   PA_ROLE, UPDATE_DATE, PA_NO
			 )
	    VALUES
			 (
			   #{projectRole}, SYSDATE, #{memberNo}
			  )
	</insert>
	
	<!-- 프로젝트 삭제 -->
	<update id="removeProject"  parameterType="ProjectDTO">
	    UPDATE PROJECT A
           SET A.PJT_DEL_YN = 'Y'
         WHERE A.PJT_NO = #{pjtNo}
	</update>
	
	<insert id="insertRemoveProjectHistory"  parameterType="ProjectDTO">
		 INSERT
	      INTO PROJECT_HISTORY A
	      (
	        A.PJT_NO, A.PJT_NAME, A.PJT_START_DATE, A.PJT_END_DATE
	      , A.UPDATE_DATE, A.PJT_DEL_YN, A.PJT_HIS_NO, A.PJT_COLOR
	      )
	      VALUES
	      (
	      #{pjtNo}, #{projectName}, #{projectStartDate}, #{projectEndDate}
	      , SYSDATE, 'Y', SEQ_PJT_HIS_NO.NEXTVAL, #{projectColor}
	      )
	</insert>
	<select id="selectBacklogList" resultMap="backlogResultMap" parameterType="BacklogDTO">
	     SELECT
      DISTINCT  A.BLG_NO
          , A.BLG_NAME
          , A.BLG_PRI
          , A.BLG_ENROLL_DATE
          , A.PJT_NO
          , A.BLG_DEL_YN
          , A.BLG_DEMO_MEMO
          , A.BLG_REF_MEMO
        FROM BACKLOG A
    LEFT OUTER JOIN SPRINT B ON (A.BLG_NO = B.BLG_NO)
       WHERE A.PJT_NO = #{pjtNo}
           AND B.SPR_NO IS NULL
           AND A.BLG_DEL_YN = 'N'
            OR B.SPR_DEL_YN = 'Y'
       ORDER BY A.BLG_PRI ASC
	</select>
	
	<insert  id="insertBacklog"  parameterType="BacklogDTO">
	    INSERT
	      INTO BACKLOG A
	      (
	        A.BLG_NO, A.BLG_NAME, A.BLG_PRI, A.BLG_ENROLL_DATE, A.PJT_NO
	      , A.BLG_DEL_YN, A.BLG_DEMO_MEMO, A.BLG_REF_MEMO
	      )
	      VALUES
	      (
	        SEQ_BLG_NO.NEXTVAL, #{blgName}, #{blgPri}, SYSDATE, #{pjtNo}
	      , 'N', #{blgDemoMemo}, #{blgRefMemo}
	      )
	</insert>
	
	<insert  id="insertBacklogHistory"  parameterType="BacklogDTO">
		<selectKey keyProperty="blgNo" order="BEFORE" resultType="_int">
			 SELECT 
		           SEQ_BLG_NO.CURRVAL
		       FROM DUAL
	    </selectKey>
	    INSERT
	      INTO BACKLOG_HISTORY A
	      (
	        A.BLG_NO, A.BLG_NAME, A.BLG_PRI, A.UPDATE_DATE, A.BLG_DEL_YN, A.BLG_HIS_NO
	      , A.BLG_DEMO_MEMO, A.BLG_REF_MEMO
	      )
	      VALUES
	      (
	        #{blgNo}, #{blgName}, #{blgPri}, SYSDATE, 'N', SEQ_BLG_HIS_NO.NEXTVAL 
	      , #{blgDemoMemo}, #{blgRefMemo}
	      )
	</insert>
	
	<select id="selectBacklogToEdit" resultMap="backlogResultMap" parameterType="BacklogDTO">
	    SELECT
	           A.BLG_NO
	         , A.BLG_NAME
	         , A.BLG_PRI
	         , A.BLG_ENROLL_DATE
	         , A.PJT_NO
	         , A.BLG_DEL_YN
	         , A.BLG_DEMO_MEMO
	         , A.BLG_REF_MEMO
	      FROM BACKLOG A
	     WHERE A.BLG_NO = #{blgNo}
	       AND A.PJT_NO = #{pjtNo}
	       AND A.BLG_DEL_YN = 'N'
	</select>
	
	<select id="selectSprintList" resultMap="SprintResultMap" parameterType="SprintDTO">
	      SELECT
			     A.SPR_NO
               , A.SPR_NAME
               , A.SPR_START_DATE
               , A.SPR_END_DATE
               , A.SPR_GOAL
               , A.SPR_DEL_YN
               , A.BLG_NO
               , B.PJT_NO
		  FROM SPRINT A
    LEFT OUTER JOIN BACKLOG B ON (A.BLG_NO = B.BLG_NO)
		 WHERE B.PJT_NO = #{pjtNo} 
          AND A.SPR_END_DATE &gt; SYSDATE
          AND A.SPR_DEL_YN = 'N'
		 ORDER BY B.BLG_PRI ASC
	</select>
	
	<update id="EditBacklog" parameterType="BacklogDTO">
	     UPDATE BACKLOG A
            SET A.BLG_NAME = #{blgName}
              , A.BLG_PRI = #{blgPri}
              , A.BLG_DEMO_MEMO = #{blgDemoMemo}
              , A.BLG_REF_MEMO = #{blgRefMemo}
         WHERE A.BLG_NO =  #{blgNo}
    	   AND A.PJT_NO = #{pjtNo}     
    </update>
    
    <insert  id="insertEditBacklogHistory"  parameterType="BacklogDTO">
	    INSERT
	      INTO BACKLOG_HISTORY A
	      (
	        A.BLG_NO, A.BLG_NAME, A.BLG_PRI, A.UPDATE_DATE, A.BLG_DEL_YN, A.BLG_HIS_NO
	      , A.BLG_DEMO_MEMO, A.BLG_REF_MEMO
	      )
	      VALUES
	      (
	        #{blgNo}, #{blgName}, #{blgPri}, SYSDATE, 'N', SEQ_BLG_HIS_NO.NEXTVAL 
	      , #{blgDemoMemo}, #{blgRefMemo}
	      )
	</insert>
	<update id="RemoveBacklog" parameterType="BacklogDTO">
	     UPDATE BACKLOG A
            SET A.BLG_DEL_YN = 'Y'
          WHERE A.BLG_NO =  #{blgNo}
    	    AND A.PJT_NO = #{pjtNo}     
    </update>
    
     <insert  id="registSprint"  parameterType="SprintDTO">
	    INSERT
	      INTO SPRINT A
	      (
	        A.SPR_NO, A.SPR_NAME, A.SPR_START_DATE, A.SPR_END_DATE
	      , A.SPR_GOAL, A.SPR_DEL_YN, A.BLG_NO
	      )
	      VALUES
	      (
	        SEQ_SPR_NO.NEXTVAL, #{sprName}, #{sprStardDate}, #{sprEndDate}
	      , #{sprGoal}, 'N', #{sprBlgNo}
	      )
	</insert>
	
	<insert  id="registSprintHistory"  parameterType="SprintDTO">
		<selectKey keyProperty="sprNo" order="BEFORE" resultType="_int">
			 SELECT 
		           SEQ_SPR_NO.CURRVAL
		       FROM DUAL
	    </selectKey>
	    INSERT
	      INTO SPRINT_HISTORY A
	      (
	        A.SPR_NO, A.SPR_NAME, A.SPR_GOAL, A.UPDATE_DATE, A.SPR_DEL_YN
	      , A.SPR_HIS_NO, A.SPR_START_DATE, A.SPR_END_DATE
	      )
	      VALUES
	      (
	        #{sprNo}, #{sprName}, #{sprGoal}, SYSDATE, 'N'
	      , SEQ_SPR_HIS_NO.NEXTVAL, #{sprStardDate}, #{sprEndDate}
	      )
	</insert>
	<select id="selectsprintDetailToEdit" resultMap="SprintResultMap" parameterType="SprintDTO">
	      SELECT
			     A.SPR_NO
               , A.SPR_NAME
               , A.SPR_START_DATE
               , A.SPR_END_DATE
               , A.SPR_GOAL
               , A.BLG_NO
		  FROM SPRINT A
		 WHERE A.SPR_NO = #{sprNo}
	</select>
	
	<delete id="RemoveSprint" parameterType="SprintDTO">
		 UPDATE SPRINT A
            SET A.SPR_DEL_YN = 'Y'
          WHERE A.SPR_NO =  #{sprNo}
    </delete>
    
    <update id="RemoveUpdateHistorySprint" parameterType="SprintDTO">
		  UPDATE SPRINT_HISTORY A
            SET A.SPR_DEL_YN = 'Y'
          WHERE A.SPR_NO =  #{sprNo}
    </update>
    

    <update id="EditSprint" parameterType="SprintDTO">
	     UPDATE SPRINT A
            SET A.SPR_NAME = #{sprName}
              , A.SPR_START_DATE = #{sprStardDate}
              , A.SPR_END_DATE = #{sprEndDate}
              , A.SPR_GOAL = #{sprGoal}
         WHERE A.SPR_NO =  #{sprNo}
    </update>
    
    <insert  id="insertEditSprintHistory"  parameterType="SprintDTO">
	    INSERT
	      INTO SPRINT_HISTORY A
	      (
	        A.SPR_NO, A.SPR_NAME, A.SPR_GOAL, A.UPDATE_DATE, A.SPR_DEL_YN
	      , A.SPR_HIS_NO, A.SPR_START_DATE, A.SPR_END_DATE
	      )
	      VALUES
	      (
	        #{sprNo}, #{sprName}, #{sprGoal}, SYSDATE, 'N'
	      , SEQ_SPR_HIS_NO.NEXTVAL, #{sprStardDate}, #{sprEndDate}
	      )
	</insert>
</mapper>
