<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.shortcut.board.model.dao.BackLogMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
	</resultMap>

	<resultMap id="ProjectResultSet" type="ProjectDTO">
		<id column="PJT_NO" property="pjtNo"/>
		<result column="PJT_NAME" property="projectName"/>
		<result column="PJT_START_DATE" property="projectStartDate"/>
		<result column="PJT_DEL_YN" property="projectDelYN"/>
		<result column="MEM_NO" property="memberNo"/>
		<result column="PJT_END_DATE" property="projectEndDate"/>
		<result column="PJT_COLOR" property="projectColor"/>
	</resultMap>
	
	 <resultMap id="AuthorityResultSet" type="ProjectAuthorityDTO">
		<id column="PA_NO" property="projectRoleNo"/>	<!-- 권한고유번호 -->
		<result column="PA_ROLE" property="projectRole"/><!-- 	회원권한 -->
		<result column="PJT_NO" property="pjtNo"/>		<!-- 프로젝트번호  -->
		<result column="MEM_NO" property="memberNo"/>	
		<result column="MEM_ID" property="memberId"/>
	</resultMap> 
	
	<select id="selectProject" resultMap="ProjectResultSet" parameterType="ProjectDTO">
		SELECT
		       A.PJT_NO
		     , A.PJT_NAME
		     , A.PJT_START_DATE
		     , A.PJT_DEL_YN
		     , A.PJT_END_DATE
		     , A.PJT_COLOR
		  FROM PROJECT A
		 WHERE A.PJT_NO = #{pjtNo}
	</select> 
	
	
	<select id="selectMemberList" resultMap="AuthorityResultSet" parameterType="ProjectAuthorityDTO">
		SELECT
		       A.PA_ROLE
		     , A.PJT_NO
		     , A.MEM_NO
		     , A.PA_NO
             , B.MEM_ID
		  FROM PJT_AUTHORITY A
          JOIN MEMBER B ON (A.MEM_NO = B.MEM_NO)
		 WHERE A.PJT_NO = #{pjtNo}
	</select> 
	
	
</mapper>