<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.shortcut.board.model.dao.CardMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
	</resultMap>
	
	<resultMap id="AuthorityResultSet" type="ProjectAuthorityDTO">
		<id column="PA_NO" property="projectRoleNo"/>		<!-- 권한고유번호 -->
		<result column="PA_ROLE" property="projectRole"/>	<!-- 	회원권한 -->
		<result column="PJT_NO" property="projectNo"/>		<!-- 프로젝트번호  -->
		<result column="MEM_NO" property="memberNo"/>	
	</resultMap> 
	
	<resultMap id="CardResultSet" type="CardDTO">
		<id column="CRD_NO" property="no" />
		<result column="CRD_NAME" property="title" />
		<result column="CRD_ENROLL_DATE" property="EnrollDate" />
		<result column="CRD_DEL_YN" property="delNo" />
		<result column="BRD_NO" property="brdNo" />
		<result column="CRD_ORDER" property="order" />
		<result column="CRD_TYPE" property="type" />
		<result column="MEM_NO" property="memNo" />
		<result column="CRD_TXT" property="txt" />
		<collection property="cardMemberList" resultMap="memberResultSet"/>
	</resultMap>
	
	<resultMap id="ProjectResultSet" type="ProjectDTO">
		<id column="PJT_NO" property="pjtNo"/>
		<result column="PJT_NAME" property="projectName"/>
		<result column="PJT_START_DATE" property="projectStartDate"/>
		<result column="PJT_DEL_YN" property="projectDelYN"/>
		<result column="MEM_NO" property="memberNo"/>
		<result column="PJT_END_DATE" property="projectEndDate"/>
		<result column="PJT_COLOR" property="projectColor"/>
	</resultMap>
	
	<resultMap type="BacklogDTO" id="backlogResultMap">
		<id property="blgNo" column="BLG_NO"/>
		<result property="blgName" column="BLG_NAME"/>
		<result property="blgPri" column="BLG_PRI"/>
		<result property="blgEnrollDate" column="BLG_ENROLL_DATE"/>
		<result property="sprEndDate" column="SPR_END_DATE"/>
		<result property="pjtNo" column="PJT_NO"/>
		<result property="blgDelYn" column="BLG_DEL_YN"/>
		<result property="blgDemoMemo" column="BLG_DEMO_MEMO"/>
		<result property="blgRefMemo" column="BLG_REF_MEMO"/>
	</resultMap>
	
	<resultMap type="SprintDTO" id="SprintResultMap">
		<id property="sprNo" column="SPR_NO"/>
		<result property="sprName" column="SPR_NAME"/>
		<result property="sprStardDate" column="SPR_START_DATE"/>
		<result property="sprEndDate" column="SPR_END_DATE"/>
		<result property="sprGoal" column="SPR_GOAL"/>
		<result property="sprDelYn" column="SPR_DEL_YN"/>
		<result property="sprBlgNo" column="BLG_NO"/>
	</resultMap>
	
	<resultMap id="RequestCardResultSet" type="RequestCardDTO">
		<id column="CRD_NO" property="no" />
		<result column="CRD_NAME" property="title" />
		<result column="CRD_ENROLL_DATE" property="enrollDate" />
		<result column="CRD_DEL_YN" property="delNo" />
		<result column="BRD_NO" property="brdNo" />
		<result column="CRD_ORDER" property="order" />
		<result column="CRD_TYPE" property="type" />
		<result column="MEM_NO" property="memNo" />
		<result column="CRD_TXT" property="txt" />
		<result column="MEM_NO" property="member" />
		<result column="SCH_PLACE" property="place" />
		<result column="SCH_ALERT" property="alert" />
		<result column="SCH_START_DATE" property="scheduleStartDate" />
		<result column="SCH_END_DATE" property="scheduleEndDate" />
		<result column="TK_START_DATE" property="taskStartDate" />
		<result column="TK_END_DATE" property="taskEndDate" />
		<collection property="cardMemberList" resultMap="memberResultSet"/>
	</resultMap>
	
	<resultMap type="CardAttendListDTO" id="CardAttendResultMap">
		<id property="crdNo" column="CRD_NO"/>
		<result property="sign" column="ATTEND_SIGN"/>
		<result property="memNo" column="MEM_NO"/>
	</resultMap>
	
	<select id="selectMember" resultMap="memberResultSet" parameterType="_int">
       SELECT
              A.MEM_NAME
            , B.MEM_NO
         FROM MEMBER A 
         JOIN PJT_AUTHORITY B ON(A.MEM_NO = B.MEM_NO)
        WHERE B.PJT_NO = #{pjtNo}
	</select>
	
	<insert id="registCard" parameterType="RequestCardDTO">
	<selectKey keyProperty="order" order="BEFORE" resultType="_int">
		 SELECT
		        NVL(TO_NUMBER(MAX(CRD_ORDER)),0)+1
	       FROM CARD
          WHERE BRD_NO = #{brdNo}
    </selectKey>
		INSERT
	  INTO CARD A
	  (
	     A.CRD_NO
       , A.CRD_NAME
       , A.BRD_NO
       , A.CRD_ORDER
       , A.CRD_TYPE
       , A.MEM_NO
       , A.CRD_TXT
	    )
	  VALUES
	  (
	    SEQ_CRD_NO.NEXTVAL
	  , #{title}
	  , #{brdNo}
	  , #{order}
	  , #{type}
	  , #{memNo}
	  , #{txt}
	  )
	</insert>
	<select id="currentCardNo" resultMap="CardResultSet" parameterType="CardDTO">
       SELECT 
              CRD_NO
         FROM (
              SELECT 
                     CRD_NO
                FROM CARD
               ORDER BY ROWNUM DESC)
        WHERE ROWNUM = 1
	</select>
	
	<select id="selctCardList" resultMap="RequestCardResultSet" parameterType="_int">
	   SELECT 
	         A.CRD_NO
	       , A.CRD_NAME
	       , A.CRD_ENROLL_DATE
	       , A.CRD_DEL_YN
	       , A.BRD_NO
	       , A.CRD_ORDER
	       , A.CRD_TYPE
	       , A.MEM_NO
	       , A.CRD_TXT
	       , B.MEM_NAME
	  FROM CARD A
	  JOIN MEMBER B ON (A.MEM_NO = B.MEM_NO)
	  WHERE A.BRD_NO = #{brdNo}
	</select>
	<insert id="registCardTask" parameterType="RequestCardDTO">
	<selectKey keyProperty="no" order="BEFORE" resultType="_int">
		 SELECT
		        NVL(TO_NUMBER(MAX(CRD_NO)),0)
	       FROM CARD
    </selectKey>
	    INSERT
	      INTO CRD_TASK A
	    (
	      A.TK_PROGRESS
	    , A.CRD_NO
	    , A.MEM_NO
	    , A.TK_START_DATE
	    , A.TK_END_DATE
	    )
	    VALUES
	    (
	      1
	    , #{no}
	    , #{member}
	    , TO_DATE(#{taskStartDate}, 'YYYYMMDDHH24MISS')
	    , TO_DATE(#{taskEndDate}, 'YYYYMMDDHH24MISS')
	    )
	</insert>
	<insert id="registCardSchedule" parameterType="RequestCardDTO">
	<selectKey keyProperty="no" order="BEFORE" resultType="_int">
		 SELECT
		        NVL(TO_NUMBER(MAX(CRD_NO)),0)
	       FROM CARD
    </selectKey>
	    INSERT
	      INTO CRD_SCHEDULE A
	    (
	      A.SCH_ALERT
	    , A.SCH_PLACE
	    , A.CRD_NO
	    , A.SCH_START_DATE
	    , A.SCH_END_DATE
	    )
	    VALUES
	    (
	      #{alert}
	    , #{place}
	    , #{no}
	    , TO_DATE(#{scheduleStartDate}, 'YYYYMMDDHH24MISS')
	    , TO_DATE(#{scheduleEndDate}, 'YYYYMMDDHH24MISS')
	    )
	</insert>
	
		<insert id="registSchAttendList" parameterType="CardAttendListDTO" >
	<selectKey keyProperty="crdNo" order="BEFORE" resultType="_int">
		 SELECT
		        NVL(TO_NUMBER(MAX(CRD_NO)),0)
	       FROM CARD
    </selectKey>
	    INSERT
	      INTO CRD_SCH_ATTEND_LIST A
	    (
	      A.CRD_NO
	    , A.MEM_NO
	    )
	    VALUES
	    (
	      #{crdNo}
	    , #{memNo}
	    )
	</insert>
	
	<select id="selectCardInfo" resultMap="RequestCardResultSet" parameterType="_int">
	   SELECT 
	         A.CRD_NO
	       , A.CRD_NAME
	       , A.CRD_ENROLL_DATE
	       , A.CRD_DEL_YN
	       , A.BRD_NO
	       , A.CRD_ORDER
	       , A.CRD_TYPE
	       , A.MEM_NO
	       , A.CRD_TXT
	       , B.TK_PROGRESS
	       , B.CRD_NO
	       , B.MEM_NO
	       , B.TK_START_DATE
	       , B.TK_END_DATE
	       , C.SCH_ALERT
	       , C.SCH_PLACE
	       , C.CRD_NO
	       , C.SCH_START_DATE
	       , C.SCH_END_DATE
	       , D.ATTEND_SIGN
	       , D.CRD_NO
	       , D.MEM_NO
           , E.MEM_NAME
           , F.MEM_NAME
	  FROM CARD A
	  JOIN CRD_TASK B ON (A.CRD_NO = B.CRD_NO)
	  JOIN CRD_SCHEDULE C ON (A.CRD_NO = C.CRD_NO)
	  JOIN CRD_SCH_ATTEND_LIST D ON (A.CRD_NO = D.CRD_NO)
	  JOIN MEMBER E ON (B.MEM_NO = E.MEM_NO)
      JOIN MEMBER F ON (D.MEM_NO = F.MEM_NO)
	  WHERE A.CRD_NO = #{no}
	</select>
	
	<select id="selectCardMember" resultMap="memberResultSet">
		SELECT
			  B.MEM_NO
			, B.MEM_NAME
	    FROM CRD_SCH_ATTEND_LIST A
	    JOIN MEMBER B ON (A.MEM_NO= B.MEM_NO)
	   WHERE A.CRD_NO = #{no}
	</select>
	
	<update id="modifyCard" parameterType="RequestCardDTO">
        UPDATE CARD A
           SET A.CRD_NAME = #{title}
             , A.CRD_ORDER = #{order}
             , A.CRD_TYPE = #{type}
             , A.CRD_TXT = #{txt}
         WHERE A.CRD_NO = #{no}
	</update>
	
	<update id="updateCardTask" parameterType="RequestCardDTO">
        UPDATE CRD_TASK A
           SET 
               A.TK_START_DATE = TO_DATE(#{taskStartDate}, 'YYYYMMDDHH24MISS')
             , A.TK_END_DATE = TO_DATE(#{taskEndDate}, 'YYYYMMDDHH24MISS')
         WHERE A.CRD_NO = #{no}
	</update>
	
	<update id="updateCardSchedule" parameterType="RequestCardDTO">
        UPDATE CRD_SCHEDULE A
           SET A.SCH_ALERT = #{alert}
             , A.SCH_PLACE = #{place}
             , A.SCH_START_DATE = TO_DATE(#{scheduleStartDate}, 'YYYYMMDDHH24MISS')
             , A.SCH_END_DATE = TO_DATE(#{scheduleEndDate}, 'YYYYMMDDHH24MISS')
         WHERE A.CRD_NO = #{no}
	</update>
	
	<update id="updateSchAttendList" parameterType="RequestCardDTO">
        UPDATE CRD_SCH_ATTEND_LIST A
           SET A.MEM_NO = #{memNo}
         WHERE A.CRD_NO = #{crdNo}
	</update>
	
	<update id="deleteCard" parameterType="BoardDTO">
       UPDATE CARD A
          SET A.CRD_DEL_YN = 'Y'
        WHERE A.CRD_NO = #{no}
	</update>
	
 </mapper>