<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.shortcut.board.model.dao.CardMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
	</resultMap>

	<!-- <select id="selectMember" resultMap="memberResultSet" parameterType="MemberDTO">
	 SELECT 
            A.MEM_NAME
       FROM MEMBER A
	</select> -->
	
	<select id="selectMember" resultMap="memberResultSet" parameterType="MemberDTO">
	 SELECT
		       A.MEM_NAME
		  FROM MEMBER A 
		  JOIN PJT_AUTHORITY B ON (B.MEM_NO = A.MEM_NO)
		 WHERE B.PJT_NO = 5
	</select>
	
 </mapper>