<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.shortcut.board.model.dao.ProjectMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEM_NO" property="no" />
		<result column="MEM_NAME" property="name" />
		<result column="MEM_ID" property="email" />
		<result column="MEM_PWD" property="password" />
		<result column="PHONE" property="phone" />
	</resultMap>
	
 	<resultMap id="ProjectResultSet" type="ProjectDTO">
		<id column="PJT_NO" property="pjtNo"/>
		<result column="PJT_NAME" property="projectName"/>
		<result column="PJT_START_DATE" property="projectStartDate"/>
		<result column="PJT_DEL_YN" property="projectDelYN"/>
		<result column="MEM_NO" property="memberNo"/>
		<result column="PJT_END_DATE" property="projectEndDate"/>
		<result column="PJT_COLOR" property="projectColor"/>
	</resultMap>
	
	 <resultMap id="AuthorityResultSet" type="ProjectAuthorityDTO">
		<id column="PA_NO" property="projectRoleNo"/>	<!-- 권한고유번호 -->
		<result column="PA_ROLE" property="projectRole"/><!-- 	회원권한 -->
		<result column="PJT_NO" property="projectNo"/>		<!-- 프로젝트번호  -->
		<result column="MEM_NO" property="memberNo"/>	
	</resultMap> 
	
	<!-- <resultMap type="ProjectAndAuthorityDTO" id="ProjectAndAuthorityResultSet">
		<id column="PJT_NO" property="pjtNo"/>
		<id column="PA_NO" property="projectRoleNo"/>
		<result column="PJT_NAME" property="projectName"/>
		<result column="PJT_START_DATE" property="projectStartDate"/>
		<result column="PJT_DEL_YN" property="projectDelYN"/>
		<result column="MEM_NO" property="memberNo"/>
		<result column="PJT_END_DATE" property="projectEndDate"/>
		<result column="PJT_COLOR" property="projectColor"/>
		<result column="PA_ROLE" property="projectRole"/>
	</resultMap> -->
	
	<select id="selectMemberDupCheck" resultMap="memberResultSet" parameterType="MemberDTO">
	 SELECT 
            A.MEM_NO
       FROM MEMBER A 
      WHERE A.MEM_ID = #{email} 
	</select>
	
	 <insert id="insertPoject" parameterType="ProjectDTO">
	INSERT
	  INTO PROJECT A
	  (
	     A.PJT_NO, A.PJT_NAME, A.PJT_START_DATE, MEM_NO,
	     A.PJT_DEL_YN, A.PJT_END_DATE, A.PJT_COLOR
	    )
	  VALUES
	  (
	    SEQ_PJT_NO.NEXTVAL, #{projectName}, #{projectStartDate}, #{memberNo},
	    'N', #{projectEndDate}, #{projectColor}
	  )
	</insert>
	
	 <select id="selectProjectNum" resultMap="ProjectResultSet" parameterType="ProjectDTO">
	SELECT 
            A.PJT_NO
       FROM PROJECT A 
      WHERE A.PJT_NAME = #{projectName}
         AND A.PJT_START_DATE = #{projectStartDate}
         AND A.PJT_END_DATE = #{projectEndDate}
         AND A.PJT_COLOR = #{projectColor}
	</select> 
	
	<insert id="insertProjectMember" parameterType="ProjectAuthorityDTO">
		INSERT
		   INTO PJT_AUTHORITY
		   (
		   PA_ROLE, PJT_NO, MEM_NO, PA_NO
		   )
		   VALUES
		   (
		    #{projectRole}, #{projectNo}, #{memberNo}, SEQ_PA_NO.NEXTVAL
		    )
	</insert>
	<!--  <insert id="insertProjectMember" parameterType="ProjectAuthorityDTO">
	 INSERT
	   INTO PJT_AUTHORITY
	   (PA_ROLE, PJT_NO, MEM_NO, PA_NO)
	   VALUES
	   (
	   <foreach collection="list" item="item" separator=",">
	   #{item.projectRole}, #{item.projectNo}, #{item.memberNo}, SEQ_PA_NO.NEXTVAL
	   </foreach>
	   )
	</insert>  -->
	
	<select id="selectProjectList" resultMap="ProjectResultSet" parameterType="MemberDTO">
		SELECT
		       A.PJT_NO
		     , A.PJT_NAME
		     , A.PJT_START_DATE
		     , A.PJT_DEL_YN
		     , A.MEM_NO
		     , A.PJT_END_DATE
		     , A.PJT_COLOR
		  FROM PROJECT A
		 JOIN PJT_AUTHORITY C ON(A.PJT_NO = C.PJT_NO)
		 WHERE C.MEM_NO = #{no}
		   AND C.PA_ROLE = 1 OR C.PA_ROLE = 2
	</select> 
 </mapper>